.container {
    width: 40%;
    margin-top: 15px;
    background-color: rgb(0, 0, 0, 0.7);
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 5px;
    display: flex;
}

.mainTemp {
    font-size: 60px;
    font-weight: bold;
}

.item {
    width: 33.333%;
}

.item img {
    width: 100px;
    height: 100px;
}