.resultsBlock {
    position: fixed;
    top: 60px;
    width: 28%;
    padding: 8px;
    border: 1px solid rgb(109, 109, 109);
    border-radius: 13px;
    z-index: 999;
    background-color: white;
}

.resultsBlockItem {
    cursor: pointer;
    font-weight: 500;
}

.resultsBlockItem::before {
    content: url('/public/icons/search.png');
}

.resultsBlockItem:hover {
    background-color: rgb(233, 231, 231);
}

@media (max-width: 1200px) {
    .resultsBlock {
        width: 38%;
    }
}

@media (max-width: 992px) {
    .resultsBlock {
        width: 53%;
    }
}

@media (max-width: 767px) {
    .resultsBlock {
        width: 63%;
    }
}